@import "tailwindcss";

@theme{
    /*Colors*/
    --color-dark: var(--dark);
    --color-white: var(--white);
    --color-pink: var(--pink);
    --color-green: var(--green);
    --color-purple: var(--purple);

    /*Fonts*/
    --font-primary: var(--primary-font);
    --font-secondary: var(--secondary-font);
    --font-tertiary: var(--tertiary-font);
}