---
import '@styles/global.css';
// Supports weights 100-900
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<title>PixelNest | Experiencias digitales inolvidables</title>
		<!-- Fonts -->
		<link href="https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
		
		/*Colors*/
		--dark: #0F172A;
		--white: #F1F5F9;
		--gray: #94A3B8;
		--blue: #38BDF8;
		--dark-blue: #1E293B;
		/* --mx: #66B0D8; */

		/*Fonts*/
		--primary-font: 'Clash Display', sans-serif;;
		--secondary-font: 'Inter Variable', sans-serif;
	}

	* { margin: 0; padding: 0; }
	*, *::before, *::after { box-sizing: border-box; }
	html { font-size: 16px; scroll-behavior: smooth; scrollbar-width: none;}
	body {
		background-color: var(--dark);
		color: var(--white);	
		font-family: var(--secondary-font);
		min-height: 100vh;
		max-width: 1920px;
		margin: 0 auto;
	}

	input, button, textarea, select { font: inherit; }
	p { text-wrap: pretty; overflow-wrap: break-word; }
	h1, h2, h3, h4, h5, h6 { text-wrap: balance; overflow-wrap: break-word; }
	h1{ font-family: var(--primary-font); font-size: 3.2rem; }
	img, video, svg { max-width: 100%; height: auto; }
	a { text-decoration: none; color: inherit; }
	ul, ol { list-style: none; }
	*::selection {
        background-color: var(--blue);
        color: var(--dark);
    }

	@keyframes fadeInDown{
		from { opacity: 0;transform: translateY(-20px); }
		to { opacity: 1; transform: translateY(0); }
	}

	@keyframes fadeInUp{
		from { opacity: 0;transform: translateY(20px); }
		to { opacity: 1; transform: translateY(0); }
	}

	/* @media (prefers-color-scheme: light) {
		:root {
			--white: #2C2C2C;
			--dark: #F5F1EA;
		}
	} */

	@media (prefers-reduced-motion: reduce) {
	* { 
		animation-duration: 0.01ms !important; 
		animation-iteration-count: 1 !important; 
		transition-duration: 0.01ms !important; 
		scroll-behavior: auto !important;
		transition: none; 
	}
	}
</style>
